@import "tailwindcss";

@theme {
  /* change the default font family to Plus Jakarta Sans */
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --font-satisfy: "Satisfy", cursive;

  --color-primary: #635fc7; /*purple*/

  --blur-tiny: 1px;
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Italic-VariableFont_wght.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satisfy";
  src: url("/fonts/Satisfy-Regular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
